
*{
    margin: 0;
    padding: 0;
}
.container {
    
    height: 300px;
    width: 400px;
    background-color: rgb(25, 0, 255);
    margin: 25px auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 30px;
    overflow:  hidden;
}

.elemento {
    height: 50px; 
    width: 100px;
    background-color: rgb(255, 1, 0);
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    
}
