@{
    ViewData["Title"] = "Upload de Imagens";

}

<h1 class="display-4">ImageStorage</h1>
<br />
<br />

<form action="Upload" method="post" enctype="multipart/form-data">
    <label>Clique no botão para fazer Upload</label>
    <input type="file" name="foto" multiple="multiple"/>
    <br/>
    <button type="submit" class="btn btn-primary">Enviar a imagen(s)</button>
</form>


  <h1>Galeria de imagens</h1>

  <main>
    <div class="gallery-container"> 
            <a href="~/0.jpg" class="gallery-items">
                <img src="~/0.jpg" alt="">
            </a>
            <a href="~/1.jpg" class="gallery-items">
                <img src="~/1.jpg" alt="">
            </a>
            <a href="~/2.jpg" class="gallery-items">
                <img src="~/2.jpg" alt="">
            </a>
            <a href="~/3.jpg" class="gallery-items">
                <img src="~/3.jpg" alt="">
            </a>
            <a href="~/4.jpg" class="gallery-items">
                <img src="~/4.jpg" alt="">
            </a>
            <a href="~/5.jpg" class="gallery-items">
                <img src="~/5.jpg" alt="">
            </a>
            <a href="~/6.jpg" class="gallery-items">
                <img src="~/6.jpg" alt="">
            </a>
            <a href="~/7.jpg" class="gallery-items">
                <img src="~/7.jpg" alt="">
            </a>
            <a href="~/8.jpg" class="gallery-items">
                <img src="~/8.jpg" alt="">
            </a>
            <a href="~/9.jpg" class="gallery-items">
                <img src="~/9.jpg" alt="">
            </a>
            <a href="~/10.jpg" class="gallery-items">
                <img src="~/10.jpg" alt="">
            </a>
            <a href="~/11.jpg" class="gallery-items">
                <img src="~/11.jpg" alt="">
            </a>
            <a href="~/12.jpg" class="gallery-items">
                <img src="~/12.jpg" alt="">
            </a>
            <a href="~/13.jpg" class="gallery-items">
                <img src="~/13.jpg" alt="">
            </a>
            <a href="~/14.jpg" class="gallery-items">
                <img src="~/14.jpg" alt="">
            </a>
            <a href="~/15.jpg" class="gallery-items">
                <img src="~/15.jpg" alt="">
            </a>
            <a href="~/16.jpg" class="gallery-items">
                <img src="~/16.jpg" alt="">
            </a>
            <a href="~/17.jpg" class="gallery-items">
                <img src="~/17.jpg" alt="">
            </a>
            <a href="~/18.jpg" class="gallery-items">
                <img src="~/18.jpg" alt="">
            </a>
            <a href="~/19.jpg" class="gallery-items">
                <img src="~/19.jpg" alt="">
            </a>
            <a href="~/20.jpg" class="gallery-items">
                <img src="~/20.jpg" alt="">
            </a>  
    </div>  
</main>