@{
    ViewData["Title"] = "Pagina Principal";

}

<div class="text-center">
    <h1 class="display-4">ImageStorage</h1>
    <p>Seja Bem vindo a ImageStorage, salve quantas imagens quiser!</p>
    <br />

</div>
  <img src="~/enviarquivos.png" width="70%" />
 <br />
