@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Projeto criado para armazenar imagens no Computador, utilizando ASP .NET CORE com Entity Framework.</p>

<p>Sistema desenvolvido pelo aluno Herik Almeida da Cruz Lopes, ministrado pela empresa Atos em parceria com a Universidade Franciscana (UFN).</p>
<p>Meus sinceros agradecimentos a toda equipe da Atos e UFN.</p>